<footer class="site-footer">
  <div class="container">
    <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p>Copyright &copy; 2016. All right reserved</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="footer-menu">
            <li><a href="//businessfacilitation.org/eregistrations/" target="_blank">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="{{ "/assets/js/theDocs.all.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
