<header class="site-header sticky navbar-fullwidth navbar-transparent">

  <!-- Top navbar & branding -->
  <nav class="navbar navbar-default">
    <div class="container">

      <!-- Toggle buttons and brand -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand logo-switch logo-default" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.title }}</a>
				<a class="navbar-brand logo-switch logo-tanzania" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">Help Tanzania</a>
      </div>
      <!-- END Toggle buttons and brand -->

      {% assign doc = site.collections | where: 'label', 'documentation' | first %}
      {% assign how = site.collections | where: 'label', 'how-to' | first %}
      {% assign training = site.collections | where: 'label', 'trainings' | first %}
      {% assign analysis = site.collections | where: 'label', 'analysis' | first %}

      <!-- Top navbar -->
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
        <ul class="nav navbar-nav navbar-right">
          <li class="{% unless page.url contains 'how-to' or page.url contains 'como' or page.url contains 'trainings' or page.url contains 'analysis' or page.url contains 'analisis' or page.url contains 'capacitaciones' or page.url contains '-fr' %}active{% endunless %}">
            <a href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ doc.title[page.lang] }}</a>
          </li>
					{% unless page.lang contains 'fr' %}
          <li class="{% if page.url contains how.baseurl[page.lang] %}active{% endif %}">
            <a href="{{ site.baseurl }}{{ how.baseurl[page.lang] }}">{{ how.title[page.lang] }}</a>
          </li>
          <li class="{% if page.url contains training.baseurl[page.lang] %}active{% endif %}">
            <a href="{{ site.baseurl }}{{ training.baseurl[page.lang] }}">{{ training.title[page.lang] }}</a>
          </li>
          <li class="{% if page.url contains analysis.baseurl[page.lang] %}active{% endif %}">
            <a href="{{ site.baseurl }}{{ analysis.baseurl[page.lang] }}">{{ analysis.title[page.lang] }}</a>
          </li>
					{% endunless %}
          <li class="dropdown">
						<a href="#" class="dropdown-toggle language-selector" data-toggle="dropdown">
							<img src="{{ site.baseurl }}/img/{{ page.lang }}.png">
						</a>
						<ul class="dropdown-menu">
              {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
              {% for pagein in pages %} {% unless page.lang contains pagein.lang %}<li><a href="{{ pagein.url | prepend: site.baseurl }}" class="lang-select {{ pagein.lang }}"><img src="{{ site.baseurl }}/img/{{ pagein.lang }}.png"></a></li>{% endunless %} {% endfor %}

              {% assign docs=site.documentation | where:"ref", page.ref | sort: 'lang' %}
              {% for doc in docs %} {% unless page.lang contains doc.lang %}<li><a href="{{ doc.url | prepend: site.baseurl }}" class="lang-select {{ doc.lang }}"><img src="{{ site.baseurl }}/img/{{ doc.lang }}.png"></a></li>{% endunless %} {% endfor %}

              {% assign hows=site.how-to | where:"ref", page.ref | sort: 'lang' %}
              {% for how in hows %} {% unless page.lang contains how.lang %}<li><a href="{{ how.url | prepend: site.baseurl }}" class="lang-select {{ how.lang }}"><img src="{{ site.baseurl }}/img/{{ how.lang }}.png"></a></li>{% endunless %} {% endfor %}

              {% assign trainings=site.trainings | where:"ref", page.ref | sort: 'lang' %}
              {% for training in trainings %} {% unless page.lang contains training.lang %}<li><a href="{{ training.url | prepend: site.baseurl }}" class="lang-select {{ training.lang }}"><img src="{{ site.baseurl }}/img/{{ training.lang }}.png"></a></li>{% endunless %} {% endfor %}

              {% assign analysis=site.analysis | where:"ref", page.ref | sort: 'lang' %}
              {% for analys in analysis %} {% unless page.lang contains analys.lang %}<li><a href="{{ analys.url | prepend: site.baseurl }}" class="lang-select {{ analys.lang }}"><img src="{{ site.baseurl }}/img/{{ analys.lang }}.png"></a></li>{% endunless %} {% endfor %}

							<li class="{% if page.lang contains 'fr' %}hidden{% endif %}"><a href="{{ site.baseurl }}/fr" class="lang-select fr"><img src="{{ site.baseurl }}/img/fr.png"></a></li>
							{% if page.lang contains 'fr' %}
								<li><a href="{{ site.baseurl }}/" class="lang-select en"><img src="{{ site.baseurl }}/img/en.png"></a></li>
								<li><a href="{{ site.baseurl }}/inicio.html" class="lang-select es"><img src="{{ site.baseurl }}/img/es.png"></a></li>
							{% endif %}
						</ul>
          </li>
        </ul>
      </div>
      <!-- END Top navbar -->
    </div>
  </nav>
  <!-- END Top navbar & branding -->

  <!--
  {% if page.path == 'index.html' %}
  <div class="banner banner-full-height overlay-black" style="background-image: url({{ site.baseurl }}/assets/img/banner1.jpg);">
    <div class="container text-center">
      <h1>eRegistrations documentation</h1>
      <h5><strong>eRegistrations</strong> is an eGovernment system, designed to computerize simple or complex administrative procedures.</h5>
      <br><br><br><br>
      <p><a class="btn btn-white btn-xl btn-outline" href="#content" role="button"> Getting Started </a></p>
    </div>
  </div>
  {% endif %}
  -->

</header>
