<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.main_title | escape }}{% endif %}</title>
  <meta name="description" content="{{ site.description[page.lang] }}">

  <link rel="shortcut icon" href="{{ "/favicon.ico?v=2" | prepend: site.baseurl }}" type="image/x-icon">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/theDocs.all.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/skin-teal.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | prepend: site.baseurl }}">

	{% if page.layout == 'recipe' %}<link rel="stylesheet" media="print" href="{{ "/assets/css/print-how-to.css" | prepend: site.baseurl }}">{% endif %}
	{% if page.layout == 'doc-pages' %}<link rel="stylesheet" media="print" href="{{ "/assets/css/print-documentation.css" | prepend: site.baseurl }}">{% endif %}
	{% if page.layout == 'doc-pages-fr' %}<link rel="stylesheet" media="print" href="{{ "/assets/css/print-documentation.css" | prepend: site.baseurl }}">{% endif %}

  <!-- FONTS -->
  <link href="//fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400" rel="stylesheet" type="text/css">

  <!-- OTHERS -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
