<header class="site-header sticky navbar-fullwidth navbar-transparent">

  <!-- Top navbar & branding -->
  <nav class="navbar navbar-default">
    <div class="container">

      <!-- Toggle buttons and brand -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.title }}</a>
      </div>
      <!-- END Toggle buttons and brand -->

      {% assign doc = site.collections | where: 'label', 'documentation' | first %}
      {% assign how = site.collections | where: 'label', 'how-to' | first %}
      {% assign training = site.collections | where: 'label', 'trainings' | first %}

      <!-- Top navbar -->
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
        <ul class="nav navbar-nav navbar-right">
          <li class="{% unless page.url contains 'how-to' or page.url contains 'como' or page.url contains 'trainings' or page.url contains 'capacitaciones' %}active{% endunless %}">
            <a href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ doc.title[page.lang] }}</a>
          </li>
          <li class="{% if page.url contains how.baseurl[page.lang] %}active{% endif %}">
            <a href="{{ site.baseurl }}{{ how.baseurl[page.lang] }}">{{ how.title[page.lang] }}</a>
          </li>
          <li class="{% if page.url contains training.baseurl[page.lang] %}active{% endif %}">
            <a href="{{ site.baseurl }}{{ training.baseurl[page.lang] }}">{{ training.title[page.lang] }}</a>
          </li>
          <li>
              {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
              {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="lang-select {{ page.lang }}">{{ page.lang }}</a> {% endfor %}

              {% assign docs=site.documentation | where:"ref", page.ref | sort: 'lang' %}
              {% for doc in docs %} <a href="{{ doc.url | prepend: site.baseurl }}" class="lang-select {{ doc.lang }}">{{ doc.lang }}</a> {% endfor %}

              {% assign hows=site.how-to | where:"ref", page.ref | sort: 'lang' %}
              {% for how in hows %} <a href="{{ how.url | prepend: site.baseurl }}" class="lang-select {{ how.lang }}">{{ how.lang }}</a> {% endfor %}

              {% assign trainings=site.trainings | where:"ref", page.ref | sort: 'lang' %}
              {% for training in trainings %} <a href="{{ training.url | prepend: site.baseurl }}" class="lang-select {{ training.lang }}">{{ training.lang }}</a> {% endfor %}
          </li>
        </ul>
      </div>
      <!-- END Top navbar -->
    </div>
  </nav>
  <!-- END Top navbar & branding -->

  <!--
  {% if page.path == 'index.html' %}  
  <div class="banner banner-full-height overlay-black" style="background-image: url({{ site.baseurl }}/assets/img/banner1.jpg);">
    <div class="container text-center">
      <h1>eRegistrations documentation</h1>
      <h5><strong>eRegistrations</strong> is an eGovernment system, designed to computerize simple or complex administrative procedures.</h5>
      <br><br><br><br>
      <p><a class="btn btn-white btn-xl btn-outline" href="#content" role="button"> Getting Started </a></p>
    </div>
  </div>
  {% endif %}
  -->

</header>
