<ul class="sidenav dropable sticky">
    <li class="{% if page.path == 'index.html' %}active{% endif %}">
        <a href="/">Overview</a>
    </li>
    <li>
        <a href="#" class="has-child {% if page.path contains 'installation' %}active open{% endif %}">Installation</a>
        <ul>
            <li class="{% if page.path == 'documentation/installation/requirements.markdown' %}active{% endif %}">
                <a href="/installation/requirements">Requirements</a>
            </li>
            <li class="{% if page.path == 'documentation/installation/mac-os-x.markdown' %}active{% endif %}">
                <a href="/installation/mac-os-x">Mac OS X</a>
            </li>
            <li class="{% if page.path == 'documentation/installation/ubuntu.markdown' %}active{% endif %}">
                <a href="/installation/ubuntu">Linux (Ubuntu)</a>
            </li>
            <li class="{% if page.path == 'documentation/installation/windows10.markdown' %}active{% endif %}">
                <a href="/installation/windows10">Windows 10</a>
            </li>
        </ul>
    </li>
    <li class="{% if page.path == 'documentation/architecture.markdown' %}active{% endif %}">
        <a href="/architecture-overview">Architecture overview</a>
    </li>
    <li>
        <a href="#" class="has-child {% if page.path contains 'codebase' %}active open{% endif %}">Codebase</a>
        <ul>
            <li class="{% if page.path == 'documentation/codebase/server.markdown' %}active{% endif %}">
                <a href="/codebase/server-side-services">Server-side services</a>
            </li>
            <li class="{% if page.path == 'documentation/codebase/client.markdown' %}active{% endif %}">
                <a href="/codebase/client-side-services">Client-side services</a>
            </li>
            <li class="{% if page.path == 'documentation/codebase/model.markdown' %}active{% endif %}">
                <a href="/codebase/model">Model</a>
            </li>
            <li class="{% if page.path == 'documentation/codebase/front.markdown' %}active{% endif %}">
                <a href="/codebase/front-end">Front-end (CSS & HTML)</a>
            </li>
            <li class="{% if page.path == 'documentation/codebase/public.markdown' %}active{% endif %}">
                <a href="/codebase/public-pages">Public pages</a>
            </li>
        </ul>
    </li>
    <li class="{% if page.path == 'documentation/tutorial.markdown' %}active{% endif %}">
        <a href="/tutorial">Configuration tutorial</a>
    </li>
</ul>