<ul class="sidenav dropable sticky">
    <li class="{% if page.path == 'search.markdown' %}active{% endif %}">
        <a href="/how-to">Search</a>
    </li>
    <li>
        <a href="#" class="has-child {% if page.path contains 'part-a' %}active open{% endif %}">Part A</a>
        <ul>
            <li class="{% if page.path == 'how-to/part-a/101-add-a-registration-to-a-service.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-registration-to-a-service">Add a registration to a service</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/102-modify-the-name-of-a-registration.markdown' %}active{% endif %}">
                <a href="/how-to/modify-the-name-of-a-registration">Modify the name of a registration</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/103-add-a-determinant-to-a-registration.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-determinant-to-a-registration">Add a determinant to a registration</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/104-add-a-certificate-to-a-registration.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-certificate-to-a-registration">Add a certificate to a registration</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/105-remove-a-certificate-from-a-registration.markdown' %}active{% endif %}">
                <a href="/how-to/remove-a-certificate-from-a-registration">Remove a certificate from a registration</a>
            </li>            
            <li class="{% if page.path == 'how-to/part-a/106-change-the-name-of-a-certificate.markdown' %}active{% endif %}">
                <a href="/how-to/change-the-name-of-a-certificate">Change the name of a certificate</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/107-add-a-requirement-to-a-registration.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-requirement-to-a-registration">Add a requirement to a registration</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/108-remove-a-requirement-from-a-registration.markdown' %}active{% endif %}">
                <a href="/how-to/remove-a-requirement-from-a-registration">Remove a requirement from a registration</a>
            </li>                                    
            <li class="{% if page.path == 'how-to/part-a/109-change-the-name-of-a-requirement.markdown' %}active{% endif %}">
                <a href="/how-to/change-the-name-of-a-requirement">Change the name of a requirement</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/110-add-a-tooltip-to-a-requirement-in-the-guide.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-tooltip-to-a-requirement-in-the-guide">Add a tooltip to a requirement in the guide</a>
            </li>            
            <li class="{% if page.path == 'how-to/part-a/111-add-a-cost-to-a-registration.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-cost-to-a-registration">Add a cost to a registration</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/112-change-a-cost-in-a-registration.markdown' %}active{% endif %}">
                <a href="/how-to/change-a-cost-in-a-registration">Change a cost in a registration</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/113-remove-a-cost-in-a-registration.markdown' %}active{% endif %}">
                <a href="/how-to/remove-a-cost-in-a-registration">Remove a cost in a registration</a>
            </li>
             <li class="{% if page.path == 'how-to/part-a/114-add-a-tooltip-to-a-cost-in-the-guide.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-tooltip-to-a-cost-in-the-guide">Add a tooltip to a cost in the guide</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/115-change-the-label-of-a-field-of-the-form.markdown' %}active{% endif %}">
                <a href="/how-to/change-the-label-of-a-field-of-the-form">Change the label of a field of the form</a>
            </li>                                    
            <li class="{% if page.path == 'how-to/part-a/116-add-a-legend-for-the-field-of-the-form.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-legend-for-the-field-of-the-form">Add a legend for a field of the form</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/117-make-a-field-of-the-form-mandatory.markdown' %}active{% endif %}">
                <a href="/how-to/make-a-field-of-the-form-mandatory">Make a field of the form mandatory</a>
            </li>            
            <li class="{% if page.path == 'how-to/part-a/118-make-a-field-of-the-form-optional.markdown' %}active{% endif %}">
                <a href="/how-to/make-a-field-of-the-form-optional">Make a field of the form optional</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/119-set-the-type-of-a-field.markdown' %}active{% endif %}">
                <a href="/how-to/set-the-type-of-a-field">Set the type of a field</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/120-create-the-options-of-a-field-that-is-a-selector.markdown' %}active{% endif %}">
                <a href="/how-to/create-the-options-of-a-field-that-is-a-selector">Create the options of a field that is a selector</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/121-configure-a-determinant-for-a-field.markdown' %}active{% endif %}">
                <a href="/how-to/configure-a-determinant-for-a-field">Configure a determinant for a field</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/122-add-a-special-format-for-a-field.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-special-format-for-a-field">Add a special format for a field</a>
            </li>                                    
            <li class="{% if page.path == 'how-to/part-a/123-create-a-new-section-in-the-form.markdown' %}active{% endif %}">
                <a href="/how-to/create-a-new-section-in-the-form">Create a new section in the form</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/124-create-a-new-tab-in-the-form.markdown' %}active{% endif %}">
                <a href="/how-to/create-a-new-tab-in-the-form">Create a new tab in the form</a>
            </li>            
            <li class="{% if page.path == 'how-to/part-a/125-create-a-new-section-with-tables-in-the-form.markdown' %}active{% endif %}">
                <a href="/how-to/create-a-new-section-with-tables-in-the-form">Create a new section with tables in the form</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/126-add-and-edit-the-legend-text-of-a-section-of-the-form.markdown' %}active{% endif %}">
                <a href="/how-to/add-and-edit-the-legend-text-of-a-section-of-the-form">Add and edit the legend text of a section of the form</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/127-change-the-sworn-declaration.markdown' %}active{% endif %}">
                <a href="/how-to/change-the-sworn-declaration">Change the sworn declaration</a>
            </li>                       
            <li class="{% if page.path == 'how-to/part-a/128-set-the-icon-that-represent-a-service.markdown' %}active{% endif %}">
                <a href="/how-to/set-the-icon-that-represent-a-service">Set the icon that represents a service</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/129-edit-the-form-generated-with-the-data-of-the-user.markdown' %}active{% endif %}">
                <a href="/how-to/edit-the-form-generated-with-the-data-of-the-user">Edit the form generated with the data of the user</a>
            </li>
            <li class="{% if page.path == 'how-to/part-a/130-set-a-certificate-that-has-no-file-attached.markdown' %}active{% endif %}">
                <a href="/how-to/set-a-certificate-that-has-no-file-attached">Set a certificate that has no file attached</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="has-child {% if page.path contains 'part-b' %}active open{% endif %}">Part B</a>
        <ul>
            <li class="{% if page.path == 'how-to/part-b/201-add-a-role.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-role">Add a role</a>
            </li>
            <li class="{% if page.path == 'how-to/part-b/202-remove-a-role.markdown' %}active{% endif %}">
                <a href="/how-to/remove-a-role">Remove a role</a>
            </li>
            <li class="{% if page.path == 'how-to/part-b/203-change-the-location-of-a-role-in-the-part-b-flow.markdown' %}active{% endif %}">
                <a href="/how-to/change-the-location-of-a-role-in-the-part-b-flow">Change the location of a role in the Part B flow'</a>
            </li>
            <li class="{% if page.path == 'how-to/part-b/204-make-a-role-a-revision-role.markdown' %}active{% endif %}">
                <a href="/how-to/make-a-role-a-revision-role">Make a role a revision role</a>
            </li> 
            <li class="{% if page.path == 'how-to/part-b/205-make-a-role-a-withdrawal-role.markdown' %}active{% endif %}">
                <a href="/how-to/make-a-role-a-withdrawal-role">Make a role a withdrawal role</a>
            </li>
            <li class="{% if page.path == 'how-to/part-b/206-add-a-field-in-a-processing-role.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-field-in-a-processing-role">Add a field in a processing role</a>
            </li>
            <li class="{% if page.path == 'how-to/part-b/207-remove-a-field-in-a-processing-role.markdown' %}active{% endif %}">
                <a href="/how-to/remove-a-field-in-a-processing-role">Remove a field in a processing role</a>
            </li>
            <li class="{% if page.path == 'how-to/part-b/208-modify-the-texts-of-the-file-history.markdown' %}active{% endif %}">
                <a href="/how-to/modify-the-texts-of-the-file-history">Modify the texts of the file history</a>
            </li>                                    
            <li class="{% if page.path == 'how-to/part-b/209-set-the-emails-sent-for-a-certain-status-of-the-file.markdown' %}active{% endif %}">
                <a href="/how-to/set-the-emails-sent-for-a-certain-status-of-the-file">Set the emails sent for a certain status of the file</a>
            </li>
            <li class="{% if page.path == 'how-to/part-b/210-add-a-variable-in-an-email.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-variable-in-an-email">Add a variable in an email</a>
            </li>
            <li class="{% if page.path == 'how-to/part-b/211-set-who-will-receive-the-email.markdown' %}active{% endif %}">
                <a href="/how-to/set-who-will-receive-the-email">Set who will receive the email</a>
            </li>
            <li class="{% if page.path == 'how-to/part-b/212-add-a-column-to-the-list-of-files-for-one-role.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-column-to-the-list-of-files-for-one-role">Add a column to the list of files for one role</a>
            </li> 
            <li class="{% if page.path == 'how-to/part-b/213-display-certificates-for-only-certain-roles.markdown' %}active{% endif %}">
                <a href="/how-to/display-certificates-for-only-certain-roles">Display certificates for only certain roles</a>
            </li>
            <li class="{% if page.path == 'how-to/part-b/214-add-a-document-that-needs-to-be-shown-at-front-desk.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-document-that-needs-to-be-shown-at-front-desk">Add a document that needs to be shown at Front Desk</a>
            </li>
            <li class="{% if page.path == 'how-to/part-b/215-add-the-send-back-for-correction-feature-to-a-role.markdown' %}active{% endif %}">
                <a href="/how-to/add-the-send-back-for-correction-feature-to-a-role">Add the "Sent back for correction" feature to a role</a>
            </li>             
            <li class="{% if page.path == 'how-to/part-b/216-add-the-reject-file-feature-to-a-role.markdown' %}active{% endif %}">
                <a href="/how-to/add-the-reject-file-feature-to-a-role">Add the "Reject file" feature to a role</a>
            </li>             
            <li class="{% if page.path == 'how-to/part-b/217-add-the-zone-feature-to-a-role.markdown' %}active{% endif %}">
                <a href="/how-to/add-the-zone-feature-to-a-role">Add the Zone feature to a role</a>
            </li>
        </ul>
    </li>    
    <li>
        <a href="#" class="has-child {% if page.path contains 'public-pages' %}active open{% endif %}">Public pages</a>
        <ul>
            <li class="{% if page.path == 'how-to/public-pages/301-add-a-new-public-page-and-route-it.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-new-public-page-and-route-it">Add a new public page and route it</a>
            </li>  
            <li class="{% if page.path == 'how-to/public-pages/302-modify-the-look-and-feel-of-the-public-pages.markdown' %}active{% endif %}">
                <a href="/how-to/modify-the-look-and-feel-of-the-public-pages">Modify the look and feel of the public pages</a>
            </li>              
            <li class="{% if page.path == 'how-to/public-pages/303-add-a-media-in-the-public-pages.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-media-in-the-public-pages">Add a media in the public pages</a>
            </li>  
            <li class="{% if page.path == 'how-to/public-pages/304-add-a-clickdesk-plugin-to-the-public-pages.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-clickdesk-plugin-to-the-public-pages">Add a Clickdesk plugin to the public pages</a>
            </li>
        </ul>
    </li> 
    <li>
        <a href="#" class="has-child {% if page.path contains 'design' %}active open{% endif %}">Design</a>
        <ul>
            <li class="{% if page.path == 'how-to/design/401-change-the-color-of-the-top-menu.markdown' %}active{% endif %}">
                <a href="/how-to/change-the-color-of-the-top-menu">Change the color of the top menu</a>
            </li>        
            <li class="{% if page.path == 'how-to/design/402-change-the-color-of-the-titles.markdown' %}active{% endif %}">
                <a href="/how-to/change-the-color-of-the-titles">Change the color of the titles</a>
            </li>             
            <li class="{% if page.path == 'how-to/design/403-change-the-color-of-the-table-headers.markdown' %}active{% endif %}">
                <a href="/how-to/change-the-color-of-the-table-headers">Change the color of the table headers</a>
            </li>             
            <li class="{% if page.path == 'how-to/design/404-change-the-font-of-the-system.markdown' %}active{% endif %}">
                <a href="/how-to/change-the-font-of-the-system">Change the font of the system</a>
            </li>             
            <li class="{% if page.path == 'how-to/design/405-respect-the-vertical-rhythm-of-the-elements.markdown' %}active{% endif %}">
                <a href="/how-to/respect-the-vertical-rhythm-of-the-elements">Respect the vertical rhythm of the elements</a>
            </li>             
            <li class="{% if page.path == 'how-to/design/406-change-the-top-left-logo.markdown' %}active{% endif %}">
                <a href="/how-to/change-the-top-left-logo">Change the top-left logo</a>
            </li>             
            <li class="{% if page.path == 'how-to/design/407-change-the-footer.markdown' %}active{% endif %}">
                <a href="/how-to/change-the-footer">Change the footer</a>
            </li>  
        </ul>
    </li> 
    <li>
        <a href="#" class="has-child {% if page.path contains 'other' %}active open{% endif %}">Other</a>
        <ul>
            <li class="{% if page.path == 'how-to/other/501-publish-a-change-in-the-live-app-using-github.markdown' %}active{% endif %}">
                <a href="/how-to/publish-a-change-in-the-live-app-using-github">Publish a change in the live app using github</a>
            </li>             
            <li class="{% if page.path == 'how-to/other/502-make-translatable-an-element-of-the-system.markdown' %}active{% endif %}">
                <a href="/how-to/make-translatable-an-element-of-the-system">Make translatable an element of the system</a>
            </li>            
            <li class="{% if page.path == 'how-to/other/503-see-a-system-locally-after-installation.markdown' %}active{% endif %}">
                <a href="/how-to/see-a-system-locally-after-installation">See a system locally after installation</a>
            </li>            
            <li class="{% if page.path == 'how-to/other/504-add-a-zone-in-the-system.markdown' %}active{% endif %}">
                <a href="/how-to/add-a-zone-in-the-system">Add a zone in the system</a>
            </li>
            <li class="{% if page.path == 'how-to/other/505-change-the-format-of-the-passwords-of-the-accounts.markdown' %}active{% endif %}">
                <a href="/how-to/change-the-format-of-the-passwords-of-the-accounts">Change the format of the passwords of the accounts</a>
            </li>
            <li class="{% if page.path == 'how-to/other/506-request-a-server-reboot-to-see-changes-online.markdown' %}active{% endif %}">
                <a href="/how-to/request-a-server-reboot-to-see-changes-online">Request a server reboot to see changes online</a>
            </li>
            <li class="{% if page.path == 'how-to/other/507-solve-something-that-is-not-covered-by-the-sheets.markdown' %}active{% endif %}">
                <a href="/how-to/solve-something-that-is-not-covered-by-the-sheets">Solve something that is not covered by the sheets</a>
            </li> 
        </ul>
    </li> 
</ul>