<ul class="sidenav dropable">
	<li class="{% if page.ref == 'index' %}active{% endif %}">
				<a href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.documentation-pages.overview.title[page.lang]}}</a>
		</li>
		<li class="{% if page.ref == 'concept' %}active{% endif %}">
				<a href="{{ site.baseurl }}{{ site.documentation-pages.concept.urls[page.lang] }}">{{ site.documentation-pages.concept.title[page.lang] }}</a>
		</li>
		<li class="{% if page.ref == 'core' %}active{% endif %}">
				<a href="{{ site.baseurl }}{{ site.documentation-pages.core.urls[page.lang] }}">{{ site.documentation-pages.core.title[page.lang] }}</a>
		</li>
		<li>
				<a class="has-child {% if page.category contains 'installation' %}active open{% endif %}">{{ site.documentation-pages.installation.title[page.lang]}}</a>
				<ul>
						{% assign installs = site.documentation | where: 'lang', page.lang | where: 'category', 'installation' | sort: 'weight' %}
						{% for install in installs %}
						<li class="{% if page.url == install.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ install.url }}">{{ install.title | remove: 'eRegistrations - ' }}</a></li>
						{% endfor %}
				</ul>
		</li>
		<li class="{% if page.ref == 'fundamentals' %}active{% endif %}">
				<a href="{{ site.baseurl }}{{ site.documentation-pages.fundamentals.urls[page.lang] }}" class="has-child {% if page.category contains 'fundamentals' %}active open{% endif %}">{{ site.documentation-pages.fundamentals.title[page.lang]}}</a>
				<ul>
						{% assign fundamentals = site.documentation | where: 'lang', page.lang | where: 'category', 'fundamentals' | sort: 'weight' %}
						{% for fundamental in fundamentals %}
						<li class="{% if page.url == fundamental.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ fundamental.url }}">{{ fundamental.title | remove: 'eRegistrations - ' }}</a></li>
						{% endfor %}
				</ul>
		</li>
		<li class="{% if page.ref == 'codebase' %}active{% endif %}">
				<a href="{{ site.baseurl }}{{ site.documentation-pages.codebase.urls[page.lang] }}" class="has-child {% if page.category contains 'codebase' %}active open{% endif %}">{{ site.documentation-pages.codebase.title[page.lang]}}</a>
				<ul>
						{% assign codes = site.documentation | where: 'lang', page.lang | where: 'category', 'codebase' | sort: 'weight' %}
						{% for code in codes %}
						<li class="{% if page.url == code.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ code.url }}">{{ code.title | remove: 'eRegistrations - ' }}</a></li>
						{% endfor %}
				</ul>
		</li>
		<li>
				<a class="has-child {% if page.category contains 'development' %}active open{% endif %}">{{ site.documentation-pages.development.title[page.lang]}}</a>
				<ul>
						{% assign devs = site.documentation | where: 'lang', page.lang | where: 'category', 'development' | sort: 'weight' %}
						{% for dev in devs %}
						<li class="{% if page.url == dev.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ dev.url }}">{{ dev.title | remove: 'eRegistrations - ' }}</a></li>
						{% endfor %}
				</ul>
		</li>

		{% assign how = site.collections | where: 'label', 'how-to' | first %}
		{% assign training = site.collections | where: 'label', 'trainings' | first %}
		<li class="{% if page.url contains how.baseurl[page.lang] %}active{% endif %}">
				<a href="{{ site.baseurl }}{{ how.baseurl[page.lang] }}">{{ how.title[page.lang] }}</a>
		</li>
		<li class="{% if page.url contains training.baseurl[page.lang] %}active{% endif %}">
				<a href="{{ site.baseurl }}{{ training.baseurl[page.lang] }}">{{ training.title[page.lang] }}</a>
		</li>
</ul>
