<ul class="sidenav dropable sticky">
	<li class="{% if page.ref == 'index' %}active{% endif %}">
				<a href="{{ site.index[page.lang] | prepend: site.baseurl }}">{{ site.documentation-pages.overview.title[page.lang]}}</a>
		</li>
		    <li class="{% if page.ref == 'concept' %}active{% endif %}">
        <a href="{{ site.documentation-pages.concept.urls[page.lang] | prepend: site.baseurl }}">{{ site.documentation-pages.concept.title[page.lang] }}</a>
    </li>
		<li>
				<a href="#" class="has-child {% if page.category contains 'installation' %}active open{% endif %}">{{ site.documentation-pages.installation.title[page.lang]}}</a>
				<ul>
						{% assign installs = site.documentation | where: 'lang', page.lang | where: 'category', 'installation' | sort: 'weight' %}
						{% for install in installs %}
						<li class="{% if page.url == install.url %}active{% endif %}"><a href="{{ install.url | prepend: site.baseurl }}">{{ install.title | remove: 'eRegistrations - ' }}</a></li>
						{% endfor %}
				</ul>
		</li>
		<li>
				<a href="#" class="has-child {% if page.category contains 'fundamentals' %}active open{% endif %}">{{ site.documentation-pages.fundamentals.title[page.lang]}}</a>
				<ul>
						{% assign fundamentals = site.documentation | where: 'lang', page.lang | where: 'category', 'fundamentals' | sort: 'weight' %}
						{% for fundamental in fundamentals %}
						<li class="{% if page.url == fundamental.url %}active{% endif %}"><a href="{{ fundamental.url | prepend: site.baseurl }}">{{ fundamental.title | remove: 'eRegistrations - ' }}</a></li>
						{% endfor %}
				</ul>
		</li>
		<li>
				<a href="#" class="has-child {% if page.category contains 'codebase' %}active open{% endif %}">{{ site.documentation-pages.codebase.title[page.lang]}}</a>
				<ul>
						{% assign codes = site.documentation | where: 'lang', page.lang | where: 'category', 'codebase' | sort: 'weight' %}
						{% for code in codes %}
						<li class="{% if page.url == code.url %}active{% endif %}"><a href="{{ code.url | prepend: site.baseurl}}">{{ code.title | remove: 'eRegistrations - ' }}</a></li>
						{% endfor %}
				</ul>
		</li>
		<li>
				<a href="#" class="has-child {% if page.category contains 'development' %}active open{% endif %}">{{ site.documentation-pages.development.title[page.lang]}}</a>
				<ul>
						{% assign devs = site.documentation | where: 'lang', page.lang | where: 'category', 'development' | sort: 'weight' %}
						{% for dev in devs %}
						<li class="{% if page.url == dev.url %}active{% endif %}"><a href="{{ dev.url | prepend: site.baseurl }}">{{ dev.title | remove: 'eRegistrations - ' }}</a></li>
						{% endfor %}
				</ul>
		</li>

		{% assign how = site.collections | where: 'label', 'how-to' | first %}
		{% assign training = site.collections | where: 'label', 'trainings' | first %}
		<li class="{% if page.url contains how.baseurl[page.lang] %}active{% endif %}">
				<a href="{{ how.baseurl[page.lang] | prepend: site.baseurl }}">{{ how.title[page.lang] }}</a>
		</li>
		<li class="{% if page.url contains training.baseurl[page.lang] %}active{% endif %}">
				<a href="{{ training.baseurl[page.lang] | prepend: site.baseurl }}">{{ training.title[page.lang] }}</a>
		</li>
</ul>
