<ul class="sidenav dropable sticky">
    <li class="{% if page.path == 'trainings/list.markdown' %}active{% endif %}">
        <a href="/trainings">List</a>
    </li>
    <li class="{% if page.path == 'trainings/training-1.markdown' %}active{% endif %}">
        <a href="/trainings/1">Training 1</a>
    </li>
    <li class="{% if page.path == 'trainings/training-2.markdown' %}active{% endif %}">
        <a href="/trainings/2">Training 2</a>
    </li>
    <li class="{% if page.path == 'trainings/training-3.markdown' %}active{% endif %}">
        <a href="/trainings/3">Training 3</a>
    </li>
    <li class="{% if page.path == 'trainings/training-4.markdown' %}active{% endif %}">
        <a href="/trainings/4">Training 4</a>
    </li>            
    <li class="{% if page.path == 'trainings/training-5.markdown' %}active{% endif %}">
        <a href="/trainings/5">Training 5</a>
    </li>
</ul>