<ul class="sidenav dropable sticky">
    <li class="{% if page.ref == 'training' %}active{% endif %}">
        {% assign col = site.collections | where: "label", "trainings" | first %}
        <a href="{{ col.baseurl[page.lang] }}">{{ col.link-title[page.lang] }}</a>
    </li>


    {% assign trainings = site.trainings | where: "lang", page.lang | where: "category", "training" | sort: "number" %}

    {% for training in trainings %}
    <!--<li class="{% if page.permalink contains training.permalink %}active{% endif %}">
        <a href="{{ training.url }}">{{ site.training-pages.title.single[page.lang]}} {{ training.number }}</a>
    </li>-->
    {% endfor %}
</ul>
