@page {
	size: auto;
	margin: 0mm;
}

a[href]:after {
	font-size: 12px;
	color:#999;
}

header,
aside,
footer,
.printer-link,
.next-link,
.prev-link {
	display: none;
}

hr {
	margin: 12px 0 !important;
}

#content {
	padding: 24px;
}

.img-thumbnail,
img {
	max-width: 80% !important;
	float: left;
}

.main-content {
	font-size: 12px;
}

.category-label {
	font-size: 16px !important;
}

h1 {
	font-size: 28px !important;
	margin-bottom: 22px;
	line-height: normal;
	page-break-after: avoid;
}

h2 {
	font-size: 18px;
	margin-top: 18px;
	line-height: normal !important;
	margin-bottom: 12px;
	page-break-after: avoid;
}

h2 a {
	line-height: normal;
}

h3 {
	font-size: 16px;
	margin-top: 18px;
	margin-bottom: 12px;
	line-height: normal !important;
	page-break-after: avoid;
}

h3 a {
	line-height: normal;
}
