@page {
	size: auto;
	margin: 0mm;
}

a[href]:after {
	font-size: 12px;
	color:#999;
}

header,
aside,
footer,
.print-link,
.next-link,
.prev-link {
	display: none;
}

hr {
	margin: 12px 0 !important;
}

#content {
	padding: 0;
}

.main-content {
	font-size: 14px;
}

.category-label {
	font-size: 18px !important;
}

h1 {
	font-size: 32px !important;
	margin-bottom: 22px;
	line-height: normal;
}

h2 {
	font-size: 22px;
	margin-top: 18px;
	line-height: normal;
	margin-bottom: 12px;
}

h3 {
	font-size: 18px;
	margin-top: 18px;
	margin-bottom: 12px;
	line-height: normal;
}
