<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="container-fluid">
    	<div class="row">
    		
    		<aside class="col-lg-2 col-md-3 col-sm-3 sidebar">
    			<ul class="sidenav dropable sticky">
    			 <li class="{% if page.path == 'index.html' %}active{% endif %}"><a href="/">Overview</a></li> 
    			 <li class="{% if page.path == 'documentation/installation.markdown' %}active{% endif %}"><a href="/documentation/installation">Installation</a></li>
                 <li class="{% if page.path == 'documentation/architecture.markdown' %}active{% endif %}"><a href="/documentation/architecture-overview">Architecture overview</a></li>
                 <li>
                    <a href="#" class="has-child {% if page.path contains 'codebase' %}active open{% endif %}">Codebase documentation</a>
                    <ul>
                        <li class="{% if page.path == 'documentation/codebase/server.markdown' %}active{% endif %}">
                            <a href="/documentation/codebase/server-side-services">Server-side services</a>
                        </li>
                        <li class="{% if page.path == 'documentation/codebase/client.markdown' %}active{% endif %}">
                            <a href="/documentation/codebase/client-side-services">Client-side services</a>
                        </li>
                        <li class="{% if page.path == 'documentation/codebase/model.markdown' %}active{% endif %}">
                            <a href="/documentation/codebase/model">Model</a>
                        </li>
                        <li class="{% if page.path == 'documentation/codebase/front.markdown' %}active{% endif %}">
                            <a href="/documentation/codebase/front-end">Front-end (CSS & HTML)</a>
                        </li>
                        <li class="{% if page.path == 'documentation/codebase/public.markdown' %}active{% endif %}">
                            <a href="/documentation/codebase/public-pages">Public pages</a>
                        </li>
                    </ul>
                 </li>
                 <li class="{% if page.path == 'documentation/tutorial.markdown' %}active{% endif %}"><a href="/documentation/tutorial">Configuration tutorial</a></li>
    			</ul>
    		</aside>

    		<article class="col-lg-10 col-md-9 col-sm-9 main-content" role="main" id="content">
    			{{ content }}
    		</article>

    	</div>
    </main>

    {% include footer.html %}

  </body>

</html>
