<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="container-fluid">
    	<div class="row">
    		
    		<aside class="col-lg-2 col-md-3 col-sm-3 sidebar">
    			<ul class="sidenav dropable sticky">
    			 <li class="{% if page.path == 'index.html' %}active{% endif %}"><a href="/">Overview</a></li> 
    			 <li class="{% if page.path == 'documentation/installation.markdown' %}active{% endif %}"><a href="/installation">Installation</a></li>
                 <li class="{% if page.path == 'documentation/architecture.markdown' %}active{% endif %}"><a href="/architecture-overview">Architecture overview</a></li>
                 <li>
                    <a href="#" class="has-child {% if page.path contains 'codebase' %}active open{% endif %}">Codebase</a>
                    <ul>
                        <li class="{% if page.path == 'documentation/codebase/server.markdown' %}active{% endif %}">
                            <a href="/codebase/server-side-services">Server-side services</a>
                        </li>
                        <li class="{% if page.path == 'documentation/codebase/client.markdown' %}active{% endif %}">
                            <a href="/codebase/client-side-services">Client-side services</a>
                        </li>
                        <li class="{% if page.path == 'documentation/codebase/model.markdown' %}active{% endif %}">
                            <a href="/codebase/model">Model</a>
                        </li>
                        <li class="{% if page.path == 'documentation/codebase/front.markdown' %}active{% endif %}">
                            <a href="/codebase/front-end">Front-end (CSS & HTML)</a>
                        </li>
                        <li class="{% if page.path == 'documentation/codebase/public.markdown' %}active{% endif %}">
                            <a href="/codebase/public-pages">Public pages</a>
                        </li>
                    </ul>
                 </li>
                 <li class="{% if page.path == 'documentation/tutorial.markdown' %}active{% endif %}"><a href="/tutorial">Configuration tutorial</a></li>
                 <li>
	                 <a href="#" class="has-child {% if page.path contains 'how-to' %}active open{% endif %}">How to...</a>
	                    <ul>
	                        <li class="{% if page.path == 'documentation/how-to/101-add-a-registration-to-a-service.markdown' %}active{% endif %}">
	                            <a href="/how-to/add-a-registration-to-a-service/">101 - add a registration to a service</a>
	                        </li>
	                        <li class="{% if page.path == 'documentation/how-to/102-modify-the-name-of-a-registration.markdown' %}active{% endif %}">
	                            <a href="/how-to/modify-the-name-of-a-registration">102 - modify the name of a registration</a>
	                        </li>
	                        <li class="{% if page.path == 'documentation/codebase/model.markdown' %}active{% endif %}">
	                            <a href="/codebase/model">Model</a>
	                        </li>
	                        <li class="{% if page.path == 'documentation/codebase/front.markdown' %}active{% endif %}">
	                            <a href="/codebase/front-end">Front-end (CSS & HTML)</a>
	                        </li>
	                        <li class="{% if page.path == 'documentation/codebase/public.markdown' %}active{% endif %}">
	                            <a href="/codebase/public-pages">Public pages</a>
	                        </li>
	                    </ul>
                 </li>
                 <li class="{% if page.path == 'documentation/search.markdown' %}active{% endif %}"><a href="/search">Search</a></li>
    			</ul>
    		</aside>

    		<article class="col-lg-10 col-md-9 col-sm-9 main-content" role="main" id="content">
    			{{ content }}
    		</article>

    	</div>
    </main>

    {% include footer.html %}

  </body>

</html>
