<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="container">
    	<div class="row">
    		
    		<aside class="col-md-3 col-sm-3 sidebar">
    			<ul class="sidenav dropable sticky">
    			 <li class="{% if page.path == 'index.html' %}active{% endif %}"><a href="/">Overview</a></li> 
    			 <li class="{% if page.path == 'framework.markdown' %}active{% endif %}"><a href="/framework">Base framework</a></li>
    			 <li class="{% if page.path == 'installation.markdown' %}active{% endif %}"><a href="/installation">Installation</a></li>
    			</ul>
    		</aside>

    		<article class="col-md-9 col-sm-9 main-content" role="main" id="content">
    			{{ content }}
    		</article>

    	</div>
    </main>

    {% include footer.html %}

  </body>

</html>
