---
layout: default
---
<article class="row">

	<div class="col-md-12 main-content">

		{% if page.title %}
		<header class="post-header">
			<h1 class="post-title">{{ page.title }}</h1>
		</header>
		{% endif %}

		<div class="post-content {% if page.userOnly == true %}user-only{% endif %}">
			{{ content }}
		</div>
		<div class="post-content {% if page.userOnly == true %}user-waiter{% else %}hidden{% endif %}">
			<a href="#" id="btn-login" class="btn btn-info btn-login" data-toggle="modal" data-target=".login-modal">Please log in to access this content.</a>
		</div>

	</div>

</article>
