<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="container-fluid">
    	<div class="row">
    		
    		<aside class="col-lg-2 col-md-3 col-sm-3 sidebar">
    			{% include sidemenu-recipes.html %}
    		</aside>

    		<article class="col-lg-10 col-md-9 col-sm-9 main-content" role="main" id="content">
                <div class="row">
                    <span class="category-label pull-left">{{ page.category }}</span>
                    <span class="label label-warning pull-right">{{ page.number }}</span>
                </div>
                <div class="row">
                    <h1>{{ page.title }}</h1>
                </div>
                <div class="row">
                    <div class="{% if page.introduction-img %}col-md-7{% else %}col-md-12{% endif %}">
                        {{ page.introduction-text }}
                    </div>
                    {% if page.introduction-img %}
                    <div class="col-md-5">
                        <a href="img/recipes/{{ page.introduction-img }}" data-lity>
                            <img class="img-responsive img-thumbnail" src="img/recipes/{{ page.introduction-img }}">
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <hr>
                </div>
                <div class="row">
                    {{ content }}
                </div>
    		</article>

    	</div>
    </main>

    {% include footer.html %}

  </body>

</html>
