<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="container-fluid">
    	<div class="row">
    		
    		<aside class="col-lg-2 col-md-3 col-sm-3 sidebar">
    			{% include sidemenu-recipes.html %}
    		</aside>

    		<article class="col-lg-10 col-md-9 col-sm-9 main-content" role="main" id="content">
                <div class="row {% unless page.path == '_how-to/search.markdown' %}recipe-content{% endunless %}">
                    <div class="col-md-12">
                        {% unless page.path == '_how-to/search.markdown' %}
                        <div class="row">
                            <div class="col-md-12">
                                <span class="category-label pull-left">{{ page.category }} <small>- {{ page.sub-category }} - Level {{ page.rate }}</small></span>
                                {% if page.nextUrl %}
                                <a href="{{ page.nextUrl }}" class="next-link pull-right">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                {% endif %}
                                <span class="label recipe-label label-warning pull-right">{{ page.number }}</span>
                                {% if page.prevUrl %}
                                <a href="{{ page.prevUrl }}" class="prev-link pull-right">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% endunless %}
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="mt0">{{ page.title }}</h1>
                            </div>
                        </div>
                        {% unless page.path == '_how-to/search.markdown' %}
                        <div class="row">
                            {% if page.introduction-img %}
                            <div class="col-md-5">
                                <a href="../../img/recipes/{{ page.introduction-img }}" data-lity>
                                    <img src="../../img/recipes/{{ page.introduction-img }}" class="img-responsive img-thumbnail">
                                </a>
                            </div>
                            {% endif %}
                            {% if page.introduction-text %}  
                            <div class="{% if page.introduction-img %}col-md-7{% else %}col-md-12{% endif %}">
                                {{ page.introduction-text | markdownify }}
                            </div>
                            {% endif %}

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                        {% endunless %}
                        <div class="row">
                            <div class="col-md-12">
                            {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
    		</article>

    	</div>
    </main>

    {% include footer.html %}

  </body>

</html>
