<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="container-fluid">
    	<div class="row">
    		
    		<aside class="col-lg-2 col-md-3 col-sm-3 sidebar">
    			{% include sidemenu-trainings.html %}
    		</aside>

    		<article class="col-lg-10 col-md-9 col-sm-9 main-content" role="main" id="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="mt0">{{ page.title }} <small>{{ page.objective }}</small></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
    		</article>

    	</div>
    </main>

    {% include footer.html %}

  </body>

</html>
